.main-menu-trigger {
  width: 30px;
  cursor: pointer;
  height: 26px;
}
.main-menu-trigger.active .menu-icon .line.top {
  top: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.main-menu-trigger.active .menu-icon .line.middle {
  background-color: transparent;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.main-menu-trigger.active .menu-icon .line.bottom {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.main-menu-trigger .menu-icon {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 30px;
}
.main-menu-trigger .menu-icon .line {
  position: absolute;
  display: block;
  height: 1px;
  width: 2.5rem;
  background-color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.main-menu-trigger .menu-icon .line.top {
  top: 2px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.main-menu-trigger .menu-icon .line.middle {
  top: 12px;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.main-menu-trigger .menu-icon .line.bottom {
  top: 22px;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-property: top, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
